extends base
block content 
    form(method="POST")
        input(type="text",placeholder="Video Title",required,maxlength="80",name="title",value=video.title)
        input(type="text",placeholder="Description",required,minlength="20",name="description",value=video.description)
        input(type="text",placeholder="Hastags, seperated by comma",name="hashtags",value=video.hashtags.join())
        input(type="submit",value="Save")